@import url("https://fonts.cdnfonts.com/css/fsalbert");

.container {
  max-width: 100rem;
  margin: auto;
}

.main {
  background-color: #ebebeb;
}

.hero-section .container {
  padding: 3.2rem;
  margin: 0 auto;
  gap: 6.4rem;
}

.grid {
  display: grid;
}

.grid-two-cols {
  grid-template-columns: 1fr 50%;
}

.paragraph {
  margin: 3.2rem 0;
}

.hero-content {
  width: 300px;
}

.heading-xl {
  font-family: "FSAlbert", sans-serif;
  font-size: clamp(4rem, 5vw, 2rem);
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: -1px;
  color: #12406f;
}

.hero-image {
  display: flex;
  justify-content: center;
  margin-right: -90px;
}

.container .banner-image {
  width: 100%;
}

.btn-hero {
  padding: 10px;
  border-radius: 10px;
  background-color: #12406f;
  color: #fff;
  font-family: "FSAlbert", sans-serif;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

@media screen and (max-width: 576px) {
  .grid-two-cols {
    grid-template-areas:
      "image"
      "text";
  }
  .hero-content {
    grid-area: text;
    width: 100%;
    margin-left: 90px;
  }

  .hero-image .banner-image {
    grid-area: image;
    width: 100%;
    order: 0;
  }

  .banner-image {
    margin-left: 70px;
  }
}
