@import url("https://fonts.cdnfonts.com/css/fsalbert");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.testimonial {
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 75%;
  margin: 0 auto;
}

.testimonial__grid {
  width: 25%;
  flex: 1;
  padding: 10px;
  gap: 5px;
  font-family: "FSAlbert", sans-serif;
}

.number {
  font-size: 6rem;
  color: #12406f;
  font-weight: bold;
}

.text {
  font-size: 1.5rem;
  color: #12406f;
}

.title {
  font-size: 1.2rem;
  font-weight: bolder;
}

.desc {
  font-size: 1.2rem;
}

.title,
.desc {
  color: #12406f;
  padding: 10px;
}

@media screen and (max-width: 576px) {
  .testimonial {
    width: 100%;
    flex-direction: column;
  }

  .testimonial__grid {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
  }
}
